
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');

body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}




h1 {
    border-radius: 4px;
    padding: 8px 16px;
    text-align: center;
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    background-size: 200% auto;
    animation: slidebg 5s linear infinite;
    color: transparent;
    -webkit-background-clip: text;
}


@keyframes slidebg {
    to {
        background-position: 200% center;
    }
}

.todo-container {
    background-color: #ffffff;
    color: #333;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-row button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out; /* Плавные переходы для всех свойств */
}

.input-row {
    display: flex;
    margin-bottom: 20px;

}

.input-row input[type="text"] {
    flex: 1;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.input-row button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.create-button {
    background-color: #e0e0e0;
    color: #333;
    border-radius: 0 ;
}

.create-button:hover {
    background-color: #d1d1d1;
    transform: scale(1.1);
}

.create-button:active {
    transform: scale(1);
    background-color: #b0b0b0;
}





.clear-button {
    background-color: #d9534f;
    color: #fff;
    border-radius:0 5px 5px 0;
}

.clear-button:hover {
    background-color: #c9302c;
    transform: scale(1.1);
}

.clear-button:active {
    transform: scale(1);
    background-color: #ac2925;
}

.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
}

.todo-item.completed .first-child {
    text-decoration: line-through;
}



.todo-item span.date {
    font-size: 0.9rem;
    color: #666;
    margin-left: 10px;
}

.todo-item button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration: none;
}



.button-nav button {
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, color 0.3s ease, box-shadow 0.3s ease;
}


.button-nav button:hover {
    transform: scale(1.2);
    color: #fff;

}


.button-nav button:active {
    transform: scale(1);
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.button-nav .complete {
    color: #5cb85c;
    transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.button-nav .complete:hover {
    color: #4cae4c;
}

.button-nav .complete:active {
    color: #3d8b3d;
}

.button-nav .delete {
    color: #d9534f;
    transition: transform 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.button-nav .delete:hover {
    color: #c9302c;
}

.button-nav .delete:active {
    color: #ac2925; 
}




.todo-item button {
    text-decoration: none;
}


.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-height: 300px;
    overflow-y: auto;
}


.todo-list::-webkit-scrollbar {
    width: 0;
    height: 0;
}


.todo-list {
    scrollbar-width: none;
}


.todo-list::-webkit-scrollbar {
    display: none;
}

.first-child{
    display: inline-block;
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



@media (max-width: 768px) {
    .todo-container {
        width: 95%;
        padding: 15px;
    }

    .input-row input[type="text"] {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    .todo-container {
        width: 100%;
        padding: 20px 20px;
    }

    .input-row button {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}


footer {
    font-family: "Ruda" !important;
    padding: 5px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.footer-button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid #BFC0C0;
    margin: 20px 20px 20px 20px;
    color: #BFC0C0;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}



#arrow-hover {
    width: 15px;
    height: 10px;
    position: absolute;
    transform: translateX(60px);
    opacity: 0;
    -webkit-transition: all .25s cubic-bezier(.14, .59, 1, 1.01);
    transition: all .15s cubic-bezier(.14, .59, 1, 1.01);
    margin: 0;
    padding: 0 5px;
}

a#button-1:hover img {
    width: 15px;
    opacity: 1;
    transform: translateX(50px);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #f06, #4a90e2);
}

.background div {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}
